<!DOCTYPE html>  <meta charset="utf-8" />
  <title>气象站API测试</title>
  <script language="javascript" type="text/javascript">
	// var wsUri = "ws://localhost:3002/";
	// var wsUri = "ws://localhost:3000/";
	var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length);
	var output;
	var nodeDesStr = '<%- _nodeDes %>';
	var nodeDes = null;
	function init()
	{
		nodeDes = JSON.parse(nodeDesStr);
		output = document.getElementById("output");
		testWebSocket();
	}
	function testWebSocket()
	{
		websocket = new WebSocket(wsUri);
		websocket.onopen = function(evt) { onOpen(evt) };
		websocket.onclose = function(evt) { onClose(evt) };
		websocket.onmessage = function(evt) { onMessage(evt) };
		websocket.onerror = function(evt) { onError(evt) };
	}
	function onOpen(evt)
	{
		writeToScreen("网络建立成功");
		// doSend("WebSocket rocks");
	}
	function onClose(evt)
	{
		writeToScreen("断开网络连接");
	}
	function onMessage(evt)
	{
		writeToScreen('<span style="color: blue;">原始数据: ' + evt.data+'</span>');
		var data = JSON.parse(evt.data);
		if(data.name == "nodes"){
			showNodes(data.content);
		}else if(data.name == "nodeDes"){
			nodeDes = JSON.parse(data.content);
		}

		//websocket.close();
	}
	function findNodeLocation(nodeID)
	{
		for(var i=0; i< nodeDes.length;i++)
		{
			if(nodeDes[i].nodeID == nodeID)
			{
				return nodeDes[i].des;
			}
		}
	}
	function showNodes(content)
	{
		var nodes = JSON.parse(content);
		if(nodes.length > 0){
			for(var i=0; i< nodes.length; i++){
				var node = nodes[i];
				var location = findNodeLocation(node.nodeId);
				if(location){
					writeToScreen('<span style="color: green;">' + location +':</span>');
				}else{
					writeToScreen('<span style="color: green;">' + node.nodeId +':</span>');
				}

				showWeather(node);
				showSoilTempHumi(node);
				showSolarRadiation(node);
			}
		}
	}

	function showSolarRadiation(node){
		if(node.solarRadiation && node.solarRadiation != ""){
			writeToScreen('<span style="color: black;">单光照强度: ' + node.solarRadiation +'</span>');
		}

	}
	function showWeather(node){
		if(node.temperature && node.temperature != ""){
			writeToScreen('<span style="color: black;">温度: ' + node.temperature +'</span>');
		}
		if(node.humidity && node.humidity != ""){
			writeToScreen('<span style="color: black;">湿度: ' + node.humidity +'</span>');
		}
		if(node.Solar && node.Solar != ""){
			writeToScreen('<span style="color: black;">光照强度: ' + node.Solar +'</span>');
		}
		if(node.WindMax && node.WindMax != ""){
			writeToScreen('<span style="color: black;">最大风速: ' + node.WindMax +'</span>');
		}

		if(node.WindAvg && node.WindAvg != ""){
			writeToScreen('<span style="color: black;">平均风速: ' + node.WindAvg +'</span>');
		}	

		if(node.WindDirAvg && node.WindDirAvg != ""){
			writeToScreen('<span style="color: black;">平均风向: ' + node.WindDirAvg +'</span>');
		}	

		if(node.RainRate && node.RainRate != ""){
			writeToScreen('<span style="color: black;">雨量: ' + node.RainRate +'</span>');
		}		
		
		if(node.BP && node.BP  != ""){
			writeToScreen('<span style="color: black;">气压: ' + node.BP  +'</span>');
		}	
		
	}
	function showSoilTempHumi(node){
		if(node.soilTemperature && node.soilTemperature != ""){
			writeToScreen('<span style="color: black;">土壤温度: ' + node.soilTemperature +'</span>');
		}
		if(node.soilMoisture && node.soilMoisture != ""){
			writeToScreen('<span style="color: black;">土壤湿度: ' + node.soilMoisture  +'</span>');
		}
	}

	function onError(evt)
	{
		writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
	}
	function doSend(message)
	{
		writeToScreen("已发送: " + message);
		websocket.send(message);
	}
	function writeToScreen(message)
	{
		var pre = document.createElement("p");
		pre.style.wordWrap = "break-word";
		pre.innerHTML = message;
		output.appendChild(pre);
	}
	window.addEventListener("load", init, false);
  </script>
  
  <h2>气象站API测试</h2>
  <div id="output"></div>
  </html>
  
  
  
  
  
  
  